@{
    ViewBag.Title = "MVC Music Store";
}

<h2>Welcome to MVC Music Store</h2>

<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Store", "Index", "Store")</li>
        <li>@Html.ActionLink("Store Browse", "Browse", "Store")</li>
        <li>@Html.ActionLink("Store Details", "Details", "Store")</li>
    </ul>
</nav>
